<!-- HEADER -->
<%- include layouts/header.ejs %>   


<!-- dfsdfv -->
    <h1>DASHBOARD ASISPRO</h1>
    <p>HOME DASHBOARD</p>
    <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">PRUEBA »</a>
    </p>
<!-- dfsdfv -->

<!-- FOOTER -->
<%- include layouts/footer.ejs %>